[submodule "auth-service"]
	path = auth-service
	url = git@github.com:DistriSchool/auth-service.git
[submodule "teacher-service"]
	path = teacher-service
	url = git@github.com:DistriSchool/teacher-service.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:DistriSchool/gateway.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:DistriSchool/frontend.git
[submodule "teacher-service"]
	path = teacher-service
	url = git@github.com:DistriSchool/teacher-service.git
[submodule "classroom-service"]
	path = classroom-service
	url = git@github.com:DistriSchool/classroom-service.git
[submodule "course-service"]
	path = course-service
	url = git@github.com:DistriSchool/course-service.git
